.App {
  text-align: center;
  min-height: 200vh;
  transition: 1s;
}
body {
  background-image: url("back-groung.svg");
  background-repeat: no-repeat;
  background-size: cover;
  animation: pan 6s infinite alternate linear;
}
.navbar {
  font-size: large;
  border-radius: 0.7rem;
  box-shadow: inset 5px 5px 10px #cddede1f, inset -5px -5px 10px #e7fafa1f;
}

a:link {
  text-decoration: none;
}

.main-container {
  margin-top: 2vh;
}

.timeline {
  margin: 0px !important;
  color: #9fc3c896;
  color: #222121cd;
}
.timeline--wrapper {
  display: flex;
  justify-content: center;
}

@keyframes pan {
  100% {
    background-position: 15% 50%;
  }
}
