.App {
  text-align: center;
  height: 200vh;
  transition: 1s;
}
.navbar {
  font-size: large;
  border-radius: 0.7rem;
  box-shadow: inset 5px 5px 10px #cddede1f, inset -5px -5px 10px #e7fafa1f;
}

a:link {
  text-decoration: none;
}

.main-container {
  margin-top: 2vh;
}

.timeline {
  margin: 0px !important;
  color: #2a3e3d;
  color: #222121;
}
