.App {
  text-align: center;
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.207) 0%,
    rgba(188, 8, 2, 0.012) 50%,
    rgba(255, 255, 255, 0.299) 100%
  );
}
.navbar {
  font-size: large;
  border-radius: 0.7rem;
  box-shadow: inset 5px 5px 10px #cddede1f, inset -5px -5px 10px #e7fafa1f;
}

a:link {
  text-decoration: none;
}
.main-container {
  margin-top: 2vh;
}

.timeline {
  margin: 0px !important;
}
